<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0
                              https://maven.apache.org/xsd/settings-1.2.0.xsd">

    <!--
      Red Hat Lightwell Network Maven configuration.
      Use: mvn -s settings.xml <goal>
      Credentials: export LW_USERNAME and LW_PASSWORD (see docs/BUILD-AND-RUN.md).
    -->

    <servers>
        <server>
            <id>lightwell-validated</id>
            <username>${env.LW_USERNAME}</username>
            <password>${env.LW_PASSWORD}</password>
        </server>
        <server>
            <id>lightwell-remediated</id>
            <username>${env.LW_USERNAME}</username>
            <password>${env.LW_PASSWORD}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>lightwell-validated</id>
            <repositories>
                <repository>
                    <id>lightwell-validated</id>
                    <name>Red Hat Lightwell Network - Validated</name>
                    <url>https://packages.redhat.com/lightwell/java/validated</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>

        <profile>
            <id>lightwell-remediated</id>
            <repositories>
                <repository>
                    <id>lightwell-remediated</id>
                    <name>Red Hat Lightwell Network - Remediated</name>
                    <url>https://packages.redhat.com/lightwell/java/remediated</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>lightwell-validated</activeProfile>
        <activeProfile>lightwell-remediated</activeProfile>
    </activeProfiles>

</settings>
